

@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('./vars.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	color:#000;
	min-height: 100vh;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: minmax(80px, 110px) 1fr; */
	grid-template-rows: auto;
	grid-template-areas: "header" "main";
}

.container{
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 15px;
}

.header {
padding: 20px 0;
grid-area: header;
box-shadow: 1px 2px 5px 3px #00000025;
}

.main {
	padding: 40px 0;
	grid-area: main;
}

.content-section {
	padding-bottom:120px;
}

.container > .content-section:first-of-type {
	padding-top:80px;
}

.container > .content-section:last-of-type {
	padding-bottom:40px;
}

.title_1 {
	font-family: Geneva, Tahoma, sans-serif;
	font-size:2rem;
	text-align: center;
	font-weight: 500;
}

.title_2 {
	font-family: "Delius Unicase", cursive;
	font-weight: 400;
	font-style: normal;
	font-size:1.8rem;
	margin-bottom: 80px;
	text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(370px, 1fr));
	gap: 30px;
}

.gal__item {
position: relative;
border-radius: 20px;
overflow: hidden;
}


.gal__figure {
	height:100%;
}

.gal__item_col-2 {
	/* grid-column-start: 2;
	grid-column-end: 4; */
	grid-column: span 2;
}

.gal__item_row-2 {
	/* grid-column-start: 2;
	grid-column-end: 4; */
	grid-row: span 2;
}

.gal__image-link {
	display: block;
	width:100%;
	height: 100%;
}

.gal__img {
	object-fit:cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
	max-width: 100%;
	border-radius: 20px;
}

.gal__controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height: 100%;
	padding: 20px 20px;
	background: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
}


.gal__item:hover .gal__controls {
	/* background: linear-gradient(0deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 16.99%, rgba(187, 186, 192, 0) 22.29%); */
	background: transparent;
	height: 60px;
}

.gal__controls-link {
	width:40px;
	height: 40px;
	line-height: 40px;
	display: block;
	background-color: #E0E0E0;
	border-radius: 8px;
	opacity: 0.5;
	font-size: 0;
	overflow: hidden;
	visibility: hidden;
	cursor:url('../assets/img/small/hand-point-up.png'), pointer;
}

.gal__item:hover .gal__controls-link {
	visibility: visible;
}

.gal__controls-link:hover {
	opacity: 1;
}

.gal__controls-link.gal__like {
	background: #E0E0E0 url('../assets/img/small/icon_heart.png') no-repeat 50% 50%;
}

.gal__controls-link.gal__download {
	background: #E0E0E0 url('../assets/img/small/icon_download.png') no-repeat 50% 60%;
}


.gal__title {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	padding: 15px 20px;
	flex-wrap: wrap;
}

.gal__item:hover .gal__title {
	background: linear-gradient(0deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 85%, rgba(187, 186, 192, 0) 100%);
}

.gal__author {
	color: #fff;
	font-weight: 500;

}

.gal__date {
 color: #E0E0E0;
font-weight: 400;
}

@media screen and (min-width : 768.01px) and (max-width : 1199.99px) {
	.gal__title {
		flex-direction: column;	
	}

	.gal__item_col-2 .gal__title {
		flex-direction: row;	
	}

}

@media screen and (max-width : 768px) {
	.gallery {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(auto-fit, minmax(370px, 1fr));
		gap: 20px;
	}

	.gal__item_col-2 {
		grid-column:auto;
	}

	.gal__item_row-2 {
		grid-row: auto;
	}	
}